html, body {
    height: 100%;
}

body {
    background-color: #3B7EA1;
}


.main-content {
    margin-top: 20px;
    text-align: center;
    font-family: 'Noto Serif', serif;
    background-color: #eeeeee;
    min-height: 100%;
    padding-right: 30px;
}

.header-line {
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-header-berkeley {
    color:  #003262;
    font-size: 43px;
    font-family: 'Old Standard TT', serif;
}

.main-header {
    font-size: 40px;
    font-weight: 400;
    color: #C4820E;
}


.choice {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
}

.choice:hover {
    background-color: #FDB515;
    border: 1px solid #003262;
}